<div class="wrap">
    <!-- ADD -->
      <form action="/addTipoPrograma" method="POST" stage="off" class="addForm animate__animated animate__bounceInDown" id="addFormTipoPrograma">
        <div class="div_resize">
          <label id="" for="addTipoNro" class="titles">AGREGAR TIPO PROGRAMA</label>
          <label id="" for="addTipoNro" class="L1 mainlabels">TIPO</label>
          <input name="tipoNro" type="text" id="addTipoNro" class="short"/>
          <input name="programaNro" type="text" id="addProgramaNro" class="short"/>
          <input name="programaDescri" type="text" id="addTipoProgramaDescri" class="long"/>
        </div>     
        <div class="btnActions">
          <button for="" class="btn btnGuardar icon-plus" id="btnSaveTipoPrograma"></button>
          <button for="" class="btn btnCancelar icon-cancel" id="btnCancelTipoPrograma"></button>
        </div>
      </form>  

      <!-- UPDATE -->
      <form action="/updateTipoPrograma" method="POST" stage="off" class="updateForm animate__animated animate__bounceInDown" id="updateFormTipoPrograma">
        <div class="div_resize">
          <label id="" for="programaDescri" class="titles">MODIFICAR TIPO PROGRAMA</label>
          <label id="" for="programaDescri" class="L1 mainlabels">TIPO</label>
          <input name="tipoNro" type="text" id="updateTipoNro" class="short" readonly/>
          <input name="programaNro" type="text" id="updateProgramaNro" class="short" readonly/>
          <input name="programaDescri" type="text" id="updateTipoProgramaNroDescri" class="long"/>
        </div>
        <div class="btnActions">
          <button for="" class=" btn btnModificar icon-arrows-cw" id="btnSaveTipoProgramaUpdate"></button>
          <button for="" class="btn btnCancelar icon-cancel" id="btnCancelTipoProgramaUpdate"></button>
        </div>
        <table id="updateTipoTable" class="tbTipo">        
          <tr>
            <th>Tipo</th>
            <th>Programa</th>
            <th>Descripción</th>
          </tr>
              <% tipo.forEach(function(tipo) { %>
                <tr>
                  <td><%= tipo.tipo %></td>
                  <td><%= tipo.programa %></td>
                  <td><%= tipo.prog_descri %></td>
                </tr>
              <% });  %> 
        </table>
      </form> 

      <!-- DELETE -->
      <form action="#" method="POST" stage="off" class="deleteForm animate__animated animate__bounceInDown" id="deleteFormTipoPrograma">
        <div class="div_resize">
          <label id="" for="" class="titles">¿SEGURO QUE DESEA ELIMINAR?</label>
          <label id="" for="" class="L1 mainlabels">TIPO</label>
          <input name="tipoNro" type="text" id="delTipoNro" class="short" readonly/>
          <input name="programaNro" type="text" id="delProgramaNro" class="short" readonly/>
          <input name="programaDescri" type="text" id="delTipoProgramaNroDescri" class="long" readonly/>
        </div>     
        <div class="btnActions">
          <button for="" class="btn btnEliminar icon-trash-2" id="btnSaveTipoProgramaDelete"></button>
          <button for="" class="btn btnCancelar icon-cancel" id="btnCancelTipoProgramaDelete"></button>
        </div>
        <table id="deleteTipoTable" class="tbTipo">
          <tr>
            <th>Tipo</th>
            <th>Programa</th>
            <th>Descripción</th>
          </tr>      
              <% tipo.forEach(function(tipo) { %>
                <tr>
                  <td><%= tipo.tipo %></td>
                  <td><%= tipo.programa %></td>
                  <td><%= tipo.prog_descri %></td>
                </tr>
              <% });  %> 
        </table>
      </form> 
      
    </div>